@model SWRCVA.Models.Cotizacion

@{
    ViewBag.Title = "Create";
}
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Cotizacion</h2>
    </div>
    <div class="col-md-4">
        <div class="form-group-lg">
            <div class="col-md-12">
               @Html.Editor("txtCliente", new { htmlAttributes = new { @class = "form-control",placeholder="Buscar Cliente", id = "txtClienteFinal", required = "required", title = "Cliente requerido!" } })
            </div>
        </div>
    </div>
    <div class="col-md-2" align="right">
        <button type="button" id="btnAgregar" onclick="" class="btn btn-default"><h4>Guardar</h4></button>
    </div>
    <div class="col-md-2" align="right">
            <button type="button" id="btnAgregar" onclick="" class="btn btn-success"><h4>Procesar Cotización</h4></button>
    </div>
    </div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" id="formCotizar">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("IdTipoProducto", (IEnumerable<SelectListItem>)ViewBag.IdTipoProducto, "Tipo Producto..", new { @class = "form-control", id = "DropDownTipoProductos", required = "required", title = "Selecione un tipo de Producto!" })
                        @Html.ValidationMessageFor(model => model.ProductoCotizacion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("Producto", (new SelectList(
                  new List<Object>{})), "Productos..", new { @class = "form-control", id = "DropDownProductos",required="required", title="Selecione un Producto!" })
                        @Html.ValidationMessageFor(model => model.ProductoCotizacion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("IdColor", (IEnumerable<SelectListItem>)ViewBag.ColoresVidrio, "Color Vidrio..", new { @class = "form-control", id = "DropDownCVidrio", required = "required", title = "Selecione el color del Vidrio!" })
                        @Html.ValidationMessage("ColoresVidrio", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("IdColor", (IEnumerable<SelectListItem>)ViewBag.ColoresAluminio, "Color Aluminio..", new { @class = "form-control", id = "DropDownCAluminio", required = "required", title = "Selecione el color del Aluminio!" })
                        @Html.ValidationMessage("ColoresAluminio", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("IdValor", (IEnumerable<SelectListItem>)ViewBag.Instalacion,"Instalacion..", new { @class = "form-control", id = "DropDownInstalacion", required = "required", title = "Selecione el porcentaje de Instalacion!" })
                        @Html.ValidationMessage("Instalación", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("IdVidrio",null, "Vidrio..", new { @class = "form-control", id = "DropDownVidrio", required = "required", title = "Selecione el espesor del Vidrio!" })
                        @Html.ValidationMessage("Instalación", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
                </div>
        <hr />
        <div class="row">
            <div class="col-md-7">

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-12">
                            <table class="table" id="ListaProductos"></table>
                        </div>
                    </div>
                </div>
                     <hr />
                  </div>
                    <div class="col-md-5">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">

                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.CantProducto, new { htmlAttributes = new { @class = "form-control", id = "txtCantidad", required = "required", title = "Cantidad requerida!",placeholder="Cantidad" } })
                                        @Html.ValidationMessageFor(model => model.CantProducto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.Editor("txtAncho", new { htmlAttributes = new { @class = "form-control", placeholder = "Ancho", onKeyPress = "return acceptNum(event)", id = "txtAncho", required = "required", title = "Ancho Requerido!" } })
                                        @Html.ValidationMessage("Ancho", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.Editor("txtAlto", new { htmlAttributes = new { @class = "form-control", placeholder = "Alto", onKeyPress = "return acceptNum(event)", id = "txtAlto", required = "required", title = "Alto requerido!" } })
                                        @Html.ValidationMessage("Alto", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-9" >
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <img id="MostrarImagen" class="" height="200" width="350" src="~/Content/Imagenes/incognita.jpg" alt="" />
                                        <div id="ImageDiv" class="text-center"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" align="right">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" id="btnAgregar" onclick="" class="btn btn-primary edit"><h4>Agregar</h4></button>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4">
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" align="right">
                                <div class="form-group">    
                                    <div class="col-md-12">                                
                                        <table><tr><td><h2>@Html.Label("Total:", new { htmlAttributes = new { @class = "control-label col-md-5" } })&nbsp;&nbsp;</h2></td><td><h1><span class="label label-success" id="txtTotal">0.00</span></h1></td></tr></table>    
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                </div>
        <hr />
        </div>
}
<div class="modal fade" id="ModalCliente" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" align="center">
                    <div class="form-group">
                        <input type="text" id="txtClienteModal" class="form-control" placeholder="Buscar Cliente" />                      
                    </div>
                    <div class="form-group">
                        <table class="table" id="TableCliente"></table>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Ok</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="ModalError" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
               <p id="TextModal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Ok</button>
            </div>
        </div>

    </div>
</div>
<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>
@section Scripts {

    @Scripts.Render("~/bundles/FuncionesCotizacion")
}
