@using PagedList.Mvc;
@model PagedList.IPagedList<SWRCVA.Models.Cotizacion>


@{
    ViewBag.Title = "Cotizaciones";
}

<h2>Cotizaciones</h2>
<div class="MatenimientoFondo">
    <div class="text-right">
        <button type="button" id="btnAgregar" onclick="location.href='@Url.Action("Cotizar", "Cotizacion")'" title="Cotizar" class="btn-circleplus btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    @using (Html.BeginForm("Index", "Cotizacion", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        <p>
            <table>
                <tr>
                    <td>
                        <strong>Buscar:&nbsp;&nbsp;</strong>
                    </td>
                    <td>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "por Cotizacion o Nombre" })
                    </td>
                    <td>&nbsp;&nbsp;<input class="btn btn-primary edit" type="submit" value="Buscar" /></td>
                </tr>
            </table>
        </p>
    }
    <table class="table table-bordered table-hover">
        <tr class="active">
            <th>
                # Cotización
            </th>
            <th>
                Cliente
            </th>
            <th>
                Estado
            </th>
            <th>
                Fecha
            </th>
            <th>
                Monto
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="warning">
                <td>
                    @Html.DisplayFor(modelItem => item.IdCotizacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    @if (item.Estado == "C")
                    {
                        @("Creada");
                    }
                    @if (item.Estado == "A")
                    {
                        @("Anulada");
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoParcial)
                </td>
                <td>
                    <button id="btnEditarCot" data-id="@item.IdCotizacion" onclick="location.href='/Cotizacion/Editar?id='+@item.IdCotizacion" type="button" class="btn btn-primary edit">Editar</button>&nbsp;|
                    <button id="btnBorrarCot" data-toggle="modal" data-target="#ModalConfirm" data-info="@item.IdCotizacion" data-id="@item.IdCotizacion" type="button" class="btn btn-danger delete">Borrar</button>&nbsp;|
                    <button id="btnImprimirCot" data-id="@item.IdCotizacion" title="Imprimir" type="button" class="btn btn-default pulse"><span class="glyphicon glyphicon-print"></span></button>
                </td>
            </tr>
        }

    </table>
    <br />
    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    @section Scripts {

        @Scripts.Render("~/bundles/FuncionesCotizacion")
    }
    <div class="modal fade" id="ModalConfirm" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Borrar</h4>
                </div>
                <div class="modal-body">
                    <center><p id="TextModal"></p></center>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                    <button id="btnModalborrar" type="button" value="" data-dismiss="modal" onclick="return EliminarCotizacion(this.value)" class="btn btn-primary">Continuar</button>
                </div>
            </div>

        </div>
    </div>
