
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/FuncionesTicket.js"></script>
<div style="width:300px" id="TicketFactura">
    <div id="TicketHeader">
        <div class="row" align="right"><div class="col-md-12"><table><tr><td>Cotizacion #:&nbsp;&nbsp;</td><td style="border:solid; padding-left:5px; padding-right:5px;"><strong><span id="IdFactura">@ViewData["IdCot"].ToString()</span></strong></td><td>Recibo #:&nbsp;&nbsp;</td><td style="border:solid; padding-left:5px; padding-right:5px;"><strong><span id="IdRecibo">@ViewData["IdRecibo"].ToString()</span></strong><br /></td></tr></table></div></div>
        <center><h3><span>Vidrios Don Antonio</span></h3></center>
        <span>Vidrios Don Antonio SA</span><br />
        <span>Fecha:</span><strong><span id="IdFecha">@ViewData["fecha"].ToString()</span></strong><br />
        <span>Tel: 24324313, 88821258 </span><br />
        <span>Ced: 310162232211</span><br />
        <span>Diagonal Pollos Beto San Antonio del Tejar, Alajuela</span><br />
        <span>Cliente:</span><strong><span id="IdCliente">@ViewData["Cliente"].ToString()</span></strong><br />
        <h5><strong><span id="lblTicketTotal">Monto Original: ₡ @ViewData["MontoOriginal"].ToString()</span></strong></h5>
        <hr />
    </div>
    <div id="Ticketbody">
        <table class="table small" id="TicketDetalle">
            <thead><tr><th>Descripcion</th><th>Monto</th></tr></thead>
            <tbody>
                    <tr><td>Recibo de Dinero</td><td>@ViewData["Abono"].ToString()</td></tr>
            </tbody>
        </table>
        <div class="text-right">
            <h5><strong><span id="lblTicketTotal">Saldo Anterior: ₡ @ViewData["Total"].ToString()</span></strong></h5>
            <h4><strong><span id="lblTicketTotal">Saldo Actual: ₡ @ViewData["Saldo"].ToString()</span></strong></h4>
        </div>
    </div>
    <div id="Ticketfooter" class="text-center">
        <span>Gracias Por Preferirnos</span>
        <br /><br />

        <span class="small">Esta Factura vence a los 30 días</span>
        <br />
        <span class="small">Toda mercadería viaja por riesgo del comprador</span>
        <br />
        <span class="small">Autorizado mediante oficio N°4521000003752</span>
        <span class="small">Fecha 17/10/2006 de la DGTD</span>
    </div>
</div>
<script language="JavaScript">
    window.print();
</script>

