@using PagedList.Mvc;
@model PagedList.IPagedList<SWRCVA.Models.Material>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Listar";
}

<h2>Materiales</h2>

<p>

    <button id="Registrarbt" onclick="popup();" type="button" class="btn-info btn-sm">Registrar Nuevo</button>
    
</p>
@using (Html.BeginForm("Listar", "Material", FormMethod.Get))
{
    <p>
        <table>
            <tr>
                <td>
                    Buscar por nombre:
                </td>
                <td>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                </td>
                <td><input class="form-control" type="submit" value="Search" /></td>
            </tr>
        </table>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Categoria
        </th>
        <th>
            Proveedor
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaMat.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
            </td>
            <td>
                @if (item.Estado == 1)
                {
                    @("Activo");
                }
                else
                {
                    @("Inactivo");
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.IdMaterial }) |
                @Html.ActionLink("Borrar", "Borrar", new { id = item.IdMaterial })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
@section Scripts {
    @Scripts.Render("~/bundles/FuncionesMaterial")
}

 <div class="modal" id="modal">
                    </div>
