@model SWRCVA.Models.Login

@{
    ViewBag.Title = "CambiarContraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cambiar Contraseña</h2>

@using (Html.BeginForm("CambiarContraseña", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true,"", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.IdUsuario,"Usuario", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.IdUsuario, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contraseña,"Nueva contraseña", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Contraseña, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmacionContraseña,"Vuelva a escribir la contraseña", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmacionContraseña, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmacionContraseña, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Cambiar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/FuncionesLogin")
}
