@model SWRCVA.Models.Reporte

@{
    ViewBag.Title = "ReporteOrden";
}

<h2>Reportes</h2>

@using (Html.BeginForm("ReporteOrden", "Reporte", FormMethod.Post, new { target = "_blank" }))
{
    @Html.AntiForgeryToken()

    <div id="formReporte" class="form-horizontal">
        <h4>Reporte Orden</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicio, "Desde:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control datepicker ", @readonly = "readonly", required = "required", title = "Fecha requerida!" })
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaFin, "Hasta:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaFin, new { @class = "form-control datepicker ", @readonly = "readonly", required = "required", title = "Fecha requerida!" })
                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Nombre", new { htmlAttributes = new { @class = "form-control", id = "txtNombre" } })
            </div>
        </div>
        <div class="form-group" hidden="hidden">
            @Html.LabelFor(model => model.IdCliente, "Id cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdCliente, new { htmlAttributes = new { @class = "form-control", id = "txtIdCliente" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Estado, (new SelectList(
                  new List<Object>{
                      new { value = "P" , text = "Procesada"  },
                      new { value = "F" , text = "Facturada"  },
                      new { value = "A" , text = "Anulada"  }
                    },
                  "value",
                  "text",
                   "P")), new { @class = "form-control", @required = "required", title = "El campo Estado es necesario" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <h5 class="text-danger">@ViewBag.Message</h5>
            </div>
        </div>

        <div class="modal fade" id="ModalCliente" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cliente</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal" align="center">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" id="txtClienteModal" class="form-control" placeholder="Buscar Cliente" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <table class="table" id="TableCliente"></table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-4t">
            <button type="submit" value="" id="Procesar" class="btn-primary btn-lg" title="Procesar">Procesar</button>
            <button value="" id="Limpiar" class="btn-primary btn-lg" title="Limpiar">Limpiar</button>
        </div>

    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/FuncionesReportes")
    <script src="~/Scripts/FuncionesPicker.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}