@model SWRCVA.Models.Producto

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

@using (Html.BeginForm("Editar", "Producto", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="MatenimientoFondo">
        <div id="FormProductos" class="form-horizontal">
            <h4>Editar</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdProducto)
            <div class="row">
                <div class="col-md-6" id="formProductotipo">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdTipoProducto, "Tipo de Producto", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.IdTipoProducto, null, "Seleccione", htmlAttributes: new { @class = "form-control", id = "DropDownTipoProducto" })
                            @Html.ValidationMessageFor(model => model.IdTipoProducto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Forma, "Atributos", htmlAttributes: new { @class = "control-label col-md-2", @hidden = "hidden", id = "lblAtributos" })
                        <div id="Group_Ventana" class="col-md-10" hidden="hidden">
                            @Html.RadioButtonFor(model => model.Forma, "F") &nbsp;<span class="text-nowrap">Fijo</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "E") &nbsp;<span class="text-nowrap">Espejo</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "FA") &nbsp;<span class="text-nowrap">Fijo Akari</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "CE") &nbsp;<span class="text-nowrap">Celocia</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "CU") &nbsp;<span class="text-nowrap">Curva</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "CF") &nbsp;<span class="text-nowrap">Celocia-Fijo</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "COF") &nbsp;<span class="text-nowrap">Celocia sobre Fijo</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "FCF") &nbsp;<span class="text-nowrap">Fijo-Celocia-Fijo</span>
                            @Html.ValidationMessageFor(model => model.Forma, "", new { @class = "text-danger" })
                        </div>
                        <div id="Group_Ventana5020" class="col-md-10" hidden="hidden">
                            @Html.RadioButtonFor(model => model.Forma, "FM") &nbsp;<span class="text-nowrap">Fijo-Movil</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "MM") &nbsp;<span class="text-nowrap">Movil-Movil</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "FMF") &nbsp;<span class="text-nowrap">Fijo-Movil-Fijo</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "MFM") &nbsp;<span class="text-nowrap">Movil-Fijo-Movil</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "FMMF") &nbsp;<span class="text-nowrap">Fijo-Movil-Movil-Fijo</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "MFFM") &nbsp;<span class="text-nowrap">Movil-Fijo-Fijo-Movil</span>
                            @Html.ValidationMessageFor(model => model.Forma, "", new { @class = "text-danger" })
                        </div>
                        <div id="Group_PuertaBano" class="col-md-10" hidden="hidden">
                            @Html.RadioButtonFor(model => model.Forma, "PB1") &nbsp;<span class="text-nowrap">Un Panel</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "PB2") &nbsp;<span class="text-nowrap">Movil-Movil</span><br>

                            @Html.ValidationMessageFor(model => model.Forma, "", new { @class = "text-danger" })
                        </div>
                        <div id="Group_Puertalujo" class="col-md-10" hidden="hidden">
                            @Html.RadioButtonFor(model => model.Forma, "PL1") &nbsp;<span class="text-nowrap">Un Panel</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "PL2") &nbsp;<span class="text-nowrap">Dos Paneles</span><br>

                            @Html.ValidationMessageFor(model => model.Forma, "", new { @class = "text-danger" })
                        </div>
                        <div id="Group_PuertaBatir" class="col-md-10" hidden="hidden">
                            @Html.RadioButtonFor(model => model.Forma, "PC") &nbsp;<span class="text-nowrap">Puerta de Correr</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "PB") &nbsp;<span class="text-nowrap">Puerta Batir</span><br>

                            @Html.ValidationMessageFor(model => model.Forma, "", new { @class = "text-danger" })
                        </div>
                        <div id="Group_Cedazo" class="col-md-10" hidden="hidden">
                            @Html.RadioButtonFor(model => model.Forma, "C5") &nbsp;<span class="text-nowrap">Cedazo 5020</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "C8") &nbsp;<span class="text-nowrap">Cedazo 8025</span><br>
                            @Html.RadioButtonFor(model => model.Forma, "CB") &nbsp;<span class="text-nowrap">Cedazo Batir</span><br>

                            @Html.ValidationMessageFor(model => model.Forma, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="ProductMaterial">
                        @Html.Label("Materiales", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <table class="table-condensed">
                                <tr>
                                    <td>
                                        @Html.DropDownList("IdCategoria", (IEnumerable<SelectListItem>)ViewBag.Categorias, "Selecione", new { @class = "form-control", id = "DropDownCategoria" })
                                    </td>
                                    <td>
                                        <select id="MaterialSelect" class="form-control" name="MaterialProducto" disabled="disabled"></select>

                                    </td>
                                    <td colspan="2">&nbsp;&nbsp;<input type="button" id="btnAgregarMaterial" class="btn-success btn-xs" value="+" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">

                                        <select id="SubCatSelect" class="form-control" name="SubCat" disabled="disabled"></select>
                                    </td>


                                </tr>

                                @Html.ValidationMessageFor(model => model.ListaMatProducto, "", new { @class = "text-danger" })
                            </table>
                            <table class="table-hover" id="ListaMaterial"></table>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input id="ImageFile" type="file" name="ImageFile" class="form-control" />
                            @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })


                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Estado, (new SelectList(
new List<Object>{
                      new { value = "" , text = "Seleccione"  },
                       new { value = 1 , text = "Activo"  },
                       new { value = 0 , text = "Inactivo" }
                    },
"value",
"text",
2)), new { @class = "form-control", @required = "required", title = "El campo Estado es necesario" })
                            @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <button onclick="location.href='@Url.Action("Index")',RefrescarLista()" title="Atras" class="btn-circle btn-info btn-lg"><span class="glyphicon glyphicon-arrow-left"></span></button>
                        </div>
                        <div class="col-md-8 text-right">
                            <button type="submit" value="" class="btn-circleSave btn-primary btn-lg" title="Guardar"><span class="glyphicon glyphicon-floppy-saved"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <div class="active"><h4>Lista Materiales:</h4></div>
                        <div class="scrollit col-md-12">
                            <table class="table table-bordered table-hover" id="ListaMaterialesProduc">
                                <thead><tr class="active"><th>Material Esperado</th><th>Selecionado</th></tr></thead>
                                <tbody>
                                    @{
                                        foreach (var item in (List<SWRCVA.Models.ListaMaterialesEsperProducto>)ViewData["ListaMaterialesEdit"])
                                        {
                                            if (@item.Estado == 1)
                                            {
                                                <tr class="success"><td><span style="font-size:14px" class="label label-success">@item.Nombre</span></td><td><span class="label label-default">@item.NombreMaterial<input type="button" id="eliminarmat" data-id="@item.IdMaterial" class="btn-danger btn-xs" value="X" /></span></td></tr>
                                            }
                                            else
                                            {
                                                <tr class="warning"><td><span style="font-size:14px" class="label label-danger">@item.Nombre</span></td><td></td></tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="active"><h4>Imagen:</h4></div>
                        <div class="col-md-10">
                            @if (Model.Imagen != null)
                            {
                                <img id="MostrarImagen" class="img-thumbnail" src="data:image/png;base64,@Convert.ToBase64String(Model.Imagen)" alt="" />
                            }
                            else
                            {
                                <img id="MostrarImagen" class="img-thumbnail" src="" alt="" />
                            }

                            <div id="ImageDiv" class="text-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="ModalError" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <center><p id="TextModal"></p></center>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn-primary">Ok</button>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/FuncionesProducto")
    <script type="text/javascript">
        $(window).unload(function () {
            RefrescarLista();
        });
    </script>
}
