<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vidrios Don Antonio</title>
        @Styles.Render("~/Content/css")
        <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <script>
    function startTime() {
    today = new Date();
    h = today.getHours();
    m = today.getMinutes();
    s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
    t = setTimeout('startTime()', 500);
    }
    function checkTime(i)
    { if (i < 10) { i = "0" + i; } return i; }
    window.onload = function () { startTime(); }
    </script>
</head>
<body>
  
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img width="150" src="~/Content/Imagenes/Logo2.png" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>

@if (Session["UsuarioActual"] != null)
{
    if (Session["RolUsuarioActual"].ToString() == "Administrador")
    {
                 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mantenimientos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Producto", "Index", "Producto")</li>
                            <li>@Html.ActionLink("Material", "Index", "Material")</li>                           
                            <li>@Html.ActionLink("Parametros", "Index", "Parametro")</li>
                            <li>@Html.ActionLink("Proveedores", "Index", "Proveedor")</li>
                            <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procesos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cotizador", "Index", "Cotizacion")</li>
                            <li>@Html.ActionLink("Control de Ordenes", "Index", "Orden")</li>
                            <li>@Html.ActionLink("Facturación", "Index", "Factura")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Reporte Ordenes de Produccion", "ReporteOrden", "Reporte")</li>
                            <li>@Html.ActionLink("Reporte de Facturas", "ReporteFacturacion", "Reporte")</li>
                            <li>@Html.ActionLink("Reporte de Cotizaciones", "ReporteCotizacion", "Reporte")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seguridad<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Respaldo", "RepaldarBD", "Respaldo")</li>
                        </ul>
                    </li>
    }
}
@if (Session["UsuarioActual"] != null)
{
    if (Session["RolUsuarioActual"].ToString() == "Procesos")
    {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procesos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cotizador", "Index", "Cotizacion")</li>
                            <li>@Html.ActionLink("Control de Ordenes", "Index", "Orden")</li>
                            <li>@Html.ActionLink("Facturación", "Index", "Factura")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Reporte Ordenes de Produccion", "ReporteOrden", "Reporte")</li>
                            <li>@Html.ActionLink("Reporte de Facturas", "ReporteFacturacion", "Reporte")</li>
                            <li>@Html.ActionLink("Reporte de Cotizaciones", "ReporteCotizacion", "Reporte")</li>
                        </ul>
                    </li>
    }
}
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                </ul>
                
                @Html.Partial("_LoginPartial")

            </div>           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer >
            <div class="label-primary col-md-12">             
               <p class="col-md-1 text-right" style="font-size:15px;">Hora:</p>
               <p class="col-md-1 text-left" id="reloj" style="font-size:15px;"></p>

               @if (@Session["UsuarioActual"] != null)
               {
                <p class="col-md-2">
                    Usuario: @Session["UsuarioActual"].ToString()
                </p>
               }
               @if (@Session["UsuarioActual"] != null)
               {
               <p class="col-md-8 text-right"> &copy; @DateTime.Now.Year - SWRCVA</p>
               }
               else
               {
                <p class="col-md-10 text-right"> &copy; @DateTime.Now.Year - SWRCVA</p>
               }
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-iu")
    @Scripts.Render("~/bundles/dataTables")
    @Scripts.Render("~/bundles/dataTablesBoot")
    @Scripts.Render("~/bundles/bootstrap")  
    @Scripts.Render("~/bundles/jqBootstrapValidation")
    @RenderSection("scripts", required: false)  
</body>
</html>
