
@model IEnumerable<SWRCVA.Models.Parametro>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Registrar")
</p>
<div class="form-group">
    @Html.Label("Parametro", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("Parametro", (new SelectList(
       new List<Object>{
                    new { value = 1 , text = "Categoria Material"},
                    new { value = 2 , text = "Color Material" },
                    new { value = 3, text = "Tipo Producto" },
                    new { value = 4 , text = "Rol" },
                    new { value = 5 , text = "Sub Categoria" },
                    new { value = 6 , text = "Valores" }
                },
                  "value",
                  "text"
                  )), "Seleccione", new { @class = "form-control", id = "ListaParametroList" }
           )

        @Html.ValidationMessage("Parametro", "", new { @class = "text-danger" })
    </div>
    </div>
    <table class="table table-hover" id="TableLista">
        

    </table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/FuncionesListarPara")

}